<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<migrationConfiguration>
    <!--
        configuration for https://github.com/rakk/migration-maven-plugin/
    -->
    <name>Migration springboot from 1.3.x to 1.4.x</name>
    <sources>
        <source>
            <filePattern>.*\.java</filePattern>
            <path>src/main/java</path>
        </source>
        <source>
            <filePattern>.*\.java</filePattern>
            <path>src/test/java</path>
        </source>
        <source>
            <filePattern>.*\.groovy</filePattern>
            <path>src/test/groovy</path>
        </source>
    </sources>
    <importUpdates>
        <importUpdate>
            <oldPath>org.springframework.boot.cotext.embedded.FilterRegistrationBean</oldPath>
            <newPath>org.springframework.boot.web.servlet.FilterRegistrationBean</newPath>
        </importUpdate>
        <importUpdate>
            <oldPath>org.springframework.boot.cotext.embedded.ServletContextInitializer</oldPath>
            <newPath>org.springframework.boot.web.servlet.ServletContextInitializer</newPath>
        </importUpdate>
        <importUpdate>
            <oldPath>org.springframework.boot.cotext.embedded.ServletContextInitializer</oldPath>
            <newPath>org.springframework.boot.web.servlet.ServletContextInitializer</newPath>
        </importUpdate>
    </importUpdates>
</migrationConfiguration>
